<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.anilog2">
  <queries>
    <package android:name="com.google.android.apps.maps" />
  </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>   
    <!-- # 22.06.13 android 10 이미지 저장/불러오기 안 되어 권한 추가 (CHN) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- /# 22.06.13 android 10 이미지 저장/불러오기 안 되어 권한 추가 end (CHN) -->
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_aniloglauncher"
      android:roundIcon="@mipmap/ic_aniloglauncher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:requestLegacyExternalStorage="true"
      android:networkSecurityConfig="@xml/net_security_config"
    >
      <!-- android:networkSecurityConfig="@xml/net_security_config" -->
      <!-- # 22.03.15 구글 맵스 활용을 위한 추가 (KSW)   -->
      <meta-data 
      android:name="com.google.android.maps.v2.API_KEY"
      android:value="AIzaSyCeCTKNd_hAPj1WcxKxqfBfEUGpyXSVidE"/> 
      <!-- /# 22.06.24 android 지도가 Blank로 출력되던 현상 발생으로 인한 API 키 변경 (문의 : 권상우 ) -->
      <!-- android:value="AIzaSyDyvDgG9NxbztMap_zUotBrNFI5JY6oRv4"/> 이전 API KEY  --> 
      <!-- 구글 android API Key == AIzaSyDyvDgG9NxbztMap_zUotBrNFI5JY6oRv4 / 문의 : 권상우 -->
      <uses-library android:name="org.apache.http.legacy" android:required="false"/>
      <!-- # 22.03.15 구글 맵스 활용을 위한 추가 (KSW) 종료 -->
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
